.gradle/
.idea/
**/build/
*.iml
local.properties
*.apk
*.zip
*.log
*.pid
*.so
*.a
*.tar.xz
*.bin
*.img
*.dex
*.odex
*.vdex
*.oat
*.o
*.class
kernelSU/ois_gain_controller
kernelSU/watermark_controller
frida-core-devkit-*/
!third_party/FRIDA_COPYING
